body {
  margin: 0
}

.langChanger {
  background-color: transparent;
  border: none;
  margin: auto
}

.langLabel {
  margin: 0;
  font-weight: bold;
}

.header {
  h1{
    margin-bottom: 0
  }
  margin: 1em auto;
    width: 95vw;
    font-size: 1em;
}

header{
  max-width: 600px;
margin: auto
}

.tileActions{
  margin-top: 2.5em;
  .tileActons_icon {
    height: 1.5em
  }
}

// Partners
.partners {
  padding: 1em;
}

.partnerLogos {
  margin: auto;
  padding: 3em 1em 1em;
  max-width: 800px;

  img {
    max-height: 4em;
    max-width: 3em;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.partnersMessage {
  font-size: .8em;
  padding-bottom: 5em;
}

// Main page
.overview {
  main {
    padding: 2em
  }
}


// Navigation
.nav {
  background-color: black;
  margin: 1em auto 2em;

  .toolkitsNav {
    border-left: .5px solid white;
    border-right: .5px solid white;
  }

  a {
    font-weight: bold;
    color: white;
    padding: 10px 0;
    text-decoration: none;


    &.router-link-exact-active {
      background-color: $proj_blue
    }
  }
}

// Images
.overviewImg {
  max-width: 90vw;
  max-height: 60vh;
  margin: 2em auto 1em;
}

.workshopLogo {
  width: 40%;
  min-width: 12em;
  max-height: 12em;
  margin: auto
}

.workshopLogo_large {
  margin: auto;
  max-height: 50vh;
}


// Toolkit Tiles
.workshopRoute {
  text-decoration: none;
  color: black
}

.toolkitTile {
  border: 1px solid black;
  margin: 1em auto;
  padding: .5em;
  width: 70vw;
  max-width: 300px;
  height: 450px;
  -webkit-box-shadow: 8px 8px 26px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 26px -24px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 26px -24px rgba(0, 0, 0, 0.75);
}

// Workshops
.workshop {
  max-width: 700px;
  margin: auto;
}

.workshop_content {
  text-align: left;
  margin: 5em 3em;

  h3,
  .subcategory {
    margin-top: 2em;
    border-bottom: .5px solid $proj_gray;
  }
}

.red_bold {
  color: $proj_redText;
}

.italic {
  font-style: italic;
}

// Global
.routerLink {
  text-decoration: none;
  color: black
}

.bold {
  font-weight: bold
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}