body {
  margin: 0;
  font-size: 14pt;
  line-height: 1.33;
  transition: 0.2s;
}

// Fix for IE11
main { display: block; }

a {
  color: $proj_red;
}

a:visited {
  color: #4D0820;
}

// Header styles
h1 {
  text-transform: uppercase;
  font-size: 36pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  text-transform: uppercase;
  font-size: 18pt;
}
h4 {
  font-size: 16pt;
}
h5 {
  font-size: 14pt;
}

.subtitle {
  font-size: 22pt;
}

.langChanger {
  background-color: transparent;
  border: none;
  margin: auto
}

.langLabel {
  margin: 0;
  font-weight: bold;
}

.header {
  h1{
    margin-bottom: 0
  }
  margin: 1em auto;
    width: 95vw;
    font-size: 1em;
}

header{
  max-width: 600px;
margin: auto
}

.tileActions{
  margin-top: 2.5em;
  .tileActons_icon {
    height: 1.5em
  }
}

// Table styling
table {
  background: $proj_gray;
  border-collapse: collapse;
  margin: 1em auto;

  caption, thead {
    background: black;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  caption {
    padding: 1em;
  }
  td, th {
    border: 1px solid black;
    padding: 0.5em;
  }
  td {
    vertical-align: top;
    p:first-of-type, ol:first-of-type, ul:first-of-type {
      margin-top: 0;
    }
    ol, ul {
      padding-left: 1em;
    }
  }
}

.community-agreements td:first-of-type {
  font-weight: bold;
  padding: 0.5em 1em;
  text-align: center;
  min-width: 40%;
}

// Partners
.partners {
  padding: 1em;
}

.partnerLogos {
  margin: auto;
  padding: 3em 1em 1em;
  max-width: 800px;
  align-items: center;

  img {
    max-height: 4em;
    max-width: 3em;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.partnersMessage {
  font-size: .8em;
  padding-bottom: 5em;
}

// Main page
.overview {
  main {
    padding: 2em
  }
}


// Navigation
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: black;
  margin: 1em auto 2em;

  .toolkitsNav {
    border-left: .5px solid white;
    border-right: .5px solid white;
  }

  a {
    border-left: .5px solid white;
    border-right: .5px solid white;
    font-weight: bold;
    color: white;
    padding: 10px 0;
    text-decoration: none;
    transition: 0.2s;

    &.router-link-active {
      background-color: $proj_blue
    }
  }

  a:hover {
      box-shadow: 0 0 0 4px $proj_blue inset;
  }

  a:first-of-type {
    border-left: none;
  }
  a:last-of-type {
    border-right: none;
  }
}

// Images
.overviewImg {
  max-width: 90vw;
  max-height: 60vh;
  margin: 2em auto 1em;
}

.workshopLogo {
  width: 40%;
  min-width: 12em;
  max-height: 12em;
  margin: auto
}

.workshopLogo_large {
  width: 100%;
  margin: 1em;
  margin-top: 0;
}


// Toolkit Tiles
.workshopRoute {
  text-decoration: none;
  color: black
}

.toolkitTile {
  border: 1px solid black;
  margin: 1em;
  padding: .5em;
  width: 70vw;
  max-width: 300px;
  height: 90%;
  -webkit-box-shadow: 8px 8px 26px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 26px -24px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 26px -24px rgba(0, 0, 0, 0.75);
}

.toolkitTile__tagline {
  min-height: 72px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}


.tileIcons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 2em;
  margin-top: -11px;
}
.tileIcons a {
  padding: 5px;
}
.tileIcons svg path {
  fill: black;
}
.icon {
  cursor: pointer;
  transition: 0.2s;
}
.icon:hover {
  fill: var(--workshop-color);
}

// Workshops
.workshop {
  max-width: 700px;
  margin: auto;

  li {
    ul, ol {
      margin-bottom: 1em;
      margin-top: 1em;
    }
  }
}

.workshop_content {
  text-align: left;
  margin: 5em 1em;

  h3,
  .subcategory {
    margin-top: 2em;
    border-bottom: .5px solid $proj_gray;
  }
}

.red_bold {
  color: $proj_redText;
}

.italic {
  font-style: italic;
}

// Resources
.resources {
  max-width: 500px;
  margin: auto;
  text-align: left;
}

// Global
.routerLink {
  text-decoration: none;
  color: black
}

.bold {
  font-weight: bold
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700&display=swap');

#app {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
}

.note {
  color: $proj_pink;
}

.translator-note {
  color: #606060;
}

// Screenreader only text.
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}