// Images
.overviewImg,
.tooltipLogo {
  width: 40%;
  min-width: 12em;
  margin: auto
}


// Tiles
.toolkipTile {
  border: 1px solid black;
  margin: 1em auto;
}


// Global
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}