$proj_green : #5da352;
$proj_blue : #259be4;
$proj_royal : #3554d1;
$proj_purple : #743589;
$proj_redText : #d82c88;
$proj_gray : #8080804d;
$proj_red : #A21041;
$proj_pink : #d82c88;
$proj_orange : #ed701d;